/*
*   NAVBAR, no completado, aun está sucio 
*/

body {
  background-color: #4b2e2b;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #c08552;
  height: 3%;
  /* border-radius: 30px; */
  /* border: 2px solid #fff8f0; */
  padding: 3px;
  text-align: center;
  align-items: center;
  font-size: 30px;
}

h1 {
  color: #fff8f0;
  /* font-size: 50px; */
  text-align: center;
}
